<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://unpkg.com/vue-select@3.0.2"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="./index_style.css">
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <title>MAP</title>
</head>
<body>
    <div class="container" id="app">
        <div class="taiwan-map" ref="map">
          <div id="map">
            <svg id="svg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" height="100%" width="100%" ></svg>
          </div>
        </div>
        <div class="shop-list">
          <h1>{{ h1 }}</h1>
          <h2>{{ h2 }}</h2>
          <br>
          口罩販賣藥局查詢
          <select @change="onChange($event)">
            <option value="0" disabled selected>--請選擇--</option>
            <option v-for="option in citys" v-bind:value="option" >
              {{ option }}
            </option>
          </select>
          <br>
       </div>
          <!-- popup detail-->
          <transition>
            <div class="open_popup" v-if="isShow">
              <div class="popupBoard">
                <div v-html="detail"></div>
                <button @click="isShow=false">Close</button>
              </div>
            </div>
          </transition>
      </div>
</body>

<script>
Vue.component('v-select', VueSelect.VueSelect)

const TaiwanMap = new Vue({
  el: '#app',
  data: {
    h1: '縣市中文',
    h2: '縣市英文',
    detail: "",     //popup 資訊內容
    citys:[],       //縣市
    projection:{}, 
    isShow: false,
    width:0,
    height:0,
    x:0,y:0,s:0,

  },
  methods: {
    async getTaiwanMap() {
       this.width = (this.$refs.map.offsetWidth).toFixed(),
       this.height = (this.$refs.map.offsetHeight).toFixed() <700 ? 700 : (this.$refs.map.offsetHeight).toFixed();
      // 判斷螢幕寬度，給放大值
      let mercatorScale, w = window.screen.width;
      if(w > 1366) {
        mercatorScale = 11000;
      }
      else if(w <= 1366 && w > 480) {
        mercatorScale = 9000;
      }
      else {
        mercatorScale = 6000;
      }
      //mercator投影設定中心座標與縮放大小
       this.projection = await d3.geo.mercator().center([121,24])
          .scale(mercatorScale)
          .translate([this.width/2, this.height/2.5]);
      // d3：svg path 產生器
      var path = await d3.geo.path().projection(
        // 座標變換函式
        this.projection
      );
      //讓d3抓svg，並寫入寬高
      var svg = await d3.select('#svg')
          .attr('width', this.width)
          .attr('height', this.height)
          .attr('viewBox', `0 0 ${this.width} ${this.height}`);
      var child = svg.append("g");

      //縮放效果
      var zoom = d3.behavior.zoom()
      .translate([0, 0])
      .scaleExtent([1, 20]) //scaleExtent 設為 [1,10]，最大值鎖定在 10 倍大，預設的 scale 設為 1
      .scale(1)
      .on("zoom", zoomed);
      function zoomed(){
        this.x=d3.event.translate[0];
        this.y=d3.event.translate[1];
        this.s=d3.event.scale;
        child.attr("transform", "translate(" + this.x +","+ this.y + ") scale(" + this.s + ")");
      }
      child.call(zoom);
      // 讓d3抓GeoJSON檔，並寫入path的路徑
      var url = 'dist/COUNTY_MOI_1081121.geojson';
      await d3.json(url, (error, geometry) => {
        if (error) throw error;
        for (x in geometry.features) {
          console.log(geometry.features[x].properties.COUNTYNAME);
          this.citys.push(geometry.features[x].properties.COUNTYNAME);
        }
        console.log(this.citys);
        ///child > g 下將data資料都依序放入path上 
        child
          .selectAll('path')
          .data(geometry.features)
          .enter().append('path')
          .attr('d', path)
          .attr('class',"svg_color")
          .attr({
            // 設定id，為了click時加class用
            id: (d) => 'city' + d.properties.COUNTYCODE
          })
          .on('click', d => {
            this.h1 = d.properties.COUNTYNAME; // 換中文名
            this.h2 = d.properties.COUNTYENG;  // 換英文名
            // 有 .active 存在，就移除 .active
            if(document.querySelector('.active')) {
              document.querySelector('.active').classList.remove('active');
            }
            // 被點擊的縣市加上 .active
            document.getElementById('city' + d.properties.COUNTYCODE).classList.add('active');
            //if (active === d) return reset();
            //g.selectAll(".active").classed("active", false);
            //d3.select(this).classed("active", active = d);
            
            //將path 轉成有邊線的矩形資料
            var b = path.bounds(d);
            console.log(b);
              child.transition().duration(750).attr("transform",
                  "translate(" + this.projection.translate() + ")"
                  + "scale(" + .95 / Math.max((b[1][0] - b[0][0]) / this.width, (b[1][1] - b[0][1]) / this.height) + ")"
                  + "translate(" + -(b[1][0] + b[0][0]) / 2 + "," + -(b[1][1] + b[0][1]) / 2 + ")");
          });

         

      });
      return child;

    },
    
    async getpoint(city_name){
      var _this= this;
      //https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json
      //dist/points.json
      var test_url = 'https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json';
      var circle_svg= await d3.select('#svg g');
      await d3.json(test_url, (error, geometry) => {
            var _data=[];
      
            var a = d3.nest()
            .key(function(d){return d.properties["mask_adult"];})
            .entries(geometry.features); 
            console.log(a);

            for (x in geometry.features) {
              ///成人口罩 > 0
              if(city_name==geometry.features[x].properties.county && geometry.features[x].properties.mask_adult>0){
                _data.push(geometry.features[x]);
              }
            }
       
            let circle = circle_svg.selectAll('circle');
            let update = circle.data(_data);
            let enter = update.enter();
            let exit = update.exit();

            update
              .attr("cx", function(d, i) {
                return _this.projection(d.geometry.coordinates)[0]; })
              .attr("cy", function (d) {  return _this.projection(d.geometry.coordinates)[1]; })
              .attr("r", function(d){ return d.properties.mask_adult*0.0025 > 5 ? 5 : d.properties.mask_adult*0.0025})
              .attr("fill", "red");

            enter
              .append("circle")
              .attr("cx", function(d, i) {
                return _this.projection(d.geometry.coordinates)[0]; })
              .attr("cy", function (d) {  return _this.projection(d.geometry.coordinates)[1]; })
              .attr("r", function(d){ return d.properties.mask_adult*0.0025 > 5 ? 5 : d.properties.mask_adult*0.0025})
              .attr("fill", "red")
              .on('click', d => {
                 _this.detail=`<strong>${d.properties.name}</strong> <br>
                  口罩剩餘：<strong>成人 - ${d.properties.mask_adult ? `${d.properties.mask_adult} 個` : '未取得資料'}/ 兒童 - ${d.properties.mask_child ? `${d.properties.mask_child} 個` : '未取得資料'}</strong><br>
                  地址: <a href="https://www.google.com.tw/maps/place/${d.properties.address}" target="_blank">${d.properties.address}</a><br>
                  電話: ${d.properties.phone}<br>
                  <small>最後更新時間: ${d.properties.updated}</small>`;
                  _this.isShow=true;
              });

            exit.remove();
            
          });
           
    },
    onChange(event){

          console.log(event.target.value);
          this.getpoint(event.target.value);
         
    },
    
  },
  mounted() {
    this.getTaiwanMap();
        
  },
  create(){

    
  }
})


</script>
</html>