<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js"></script>
    <!--js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

    <script src="https://d3js.org/d3.v3.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app" class="wrap">
        <div class="loading" v-if="isloading">
            loading...
        </div>
        <div class="home row no-gutters">
            <div class="col-sm-3">
              <div v-if="cityName.length" class="toolbox">
                <div class="sticky-top bg-white shadow-sm p-2">
                  <div class="form-group d-flex">
                    <label for="cityName" class="mr-2 col-form-label text-right">縣市</label>
                    <div class="flex-fill">
                      <select id="cityName" class="form-control"
                      v-model="select.city" @change="select.area = ''">
                        <option value="">-- Select One --</option>
                        <option :value="c.CityName" v-for="c in cityName" :key="c.CityName">
                          {{ c.CityName }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group d-flex">
                    <label for="area" class="mr-2 col-form-label text-right">地區</label>
                    <div class="flex-fill">
                      <select id="area" class="form-control" v-if="select.city.length"
                        v-model="select.area" @change="updateSelect">
                        <option value="">-- Select One --</option>
                        <option :value="a.AreaName"
                          v-for="a in cityName.find((city) => city.CityName === select.city).AreaList"
                          :key="a.AreaName">
                          {{ a.AreaName }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <p class="mb-0 small text-muted text-right">請先選擇區域查看（綠色表示還有口罩）</p>
                </div>
        
                <ul class="list-group">
                  <template v-for="(item, key) in data">
                    <a class="list-group-item text-left" :key="key"
                      v-if="item.properties.address.match(select.city)
                        && item.properties.address.match(select.area)"
                      :class="{ 'highlight': item.properties.mask_adult || item.properties.mask_child}"
                      @click="penTo(item)">
                      <h3>{{ item.properties.name }}</h3>
                      <p class="mb-0">
                        成人口罩：{{ item.properties.mask_adult}} | 兒童口罩：{{ item.properties.mask_child}}
                      </p>
                      <p class="mb-0">地址：<a :href="`https://www.google.com.tw/maps/place/${item.properties.address}`"
                        target="_blank" title="Google Map">
                        {{ item.properties.address }}</a>
                      </p>
                    </a>
                  </template>
                </ul>
              </div>
            </div>
            <div class="col-sm-9">
              <div id="map"></div>
            </div>
          </div>
    </div>
</body>
</html>
<style>
.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center; 
}
#map {
  height: 100vh;
}
</style>
<script>

let osmMap = {};
const vue =new Vue({
    el:"#app",
    data: () => ({
    data: {},
    cityName: [],
    osmMap: {},
    select: {
      city: '台北市',
      area: '大安區',
    },
    isloading: true,
  }),
  mounted(){
    osmMap = L.map('map', {
      center: [25.03, 121.55],
      zoom: 15,
    });
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '<a target="_blank" href="https://www.openstreetmap.org/">© OpenStreetMap 貢獻者</a>',
      maxZoom: 15,
    }).addTo(osmMap);

    // L.marker([51.5, -0.09]).addTo(map)
    // .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
    // .openPopup();

    Promise.all([
      axios('https://raw.githubusercontent.com/kiang/pharmacies/master/json/points.json'),
      axios('cityName.json'),
    ]).then(([res, cityNameRes]) => {
      this.data = res.data.features;
      this.cityName = cityNameRes.data;
      //this.updateMarker();
      this.isloading=false;
    });

  },
  methods:{
    updateMarker() {
      
      const stores = this.data.filter((store) => {
        if (!this.select.area) {
          return store.properties.address.match(this.select.city);
        }
        return store.properties.address.match(this.select.area);
      });
      stores.forEach((store) => {
        const { properties, geometry } = store;
        addMapMarker(geometry.coordinates[0], geometry.coordinates[1], properties);
      });
    },
    updateSelect(){


    },
    addMapMarker(){


    }
  }
  


})
</script>